<launch>
  <!-- Tag for record argument -->
  <arg 
    name = "record" 
    default = "false" 
  />

  <!-- Tag for launching TurtleBot in gazebo -->  
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      <arg name="world_file" value="$(find the_explorer_robot)/world/warehouse.world"/>
  </include>

  <!-- Tag for launching gmapping -->  
  <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch">
  </include>

  <!-- Tag for launching RViz -->  
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch">
  </include> 

  <!-- Tags of explorer node -->
  <node
    pkg="the_explorer_robot"
    type="explorer"
    name="explorer"
    output="screen"
    launch-prefix="gnome-terminal --command"
  />

  <!-- Tags of rosbag node -->
  <node
    pkg="rosbag"
    type="record"
    name="record"
    args = "-a -O $(find the_explorer_robot)/results/recordedData.bag -x /camera/(.*) --duration=30"
    if = "$(arg record)"
  />
</launch>